<div class="row" id="donor">
  <div class="col-4">
    <h2 class="pr-3">Become a donor</h2>
    <div class="triangle-right">
    </div>
    <!-- <ul class="">
      <li class="icon"><i class="fas fa-circle fa-2x"></i><span class="pb-2">Coastal Ambassador</span></li>
      <li class="icon"><i class="fas fa-circle fa-2x"></i><span class="pb-2">Salmon School</span></li>
      <li class="icon"><i class="fas fa-circle fa-2x"></i><span class="pb-2">Wolf Pack</span></li>
      <li class="icon"><i class="fas fa-circle fa-2x"></i><span class="pb-2">Orca Pod</span></li>
      <li class="icon"><i class="fas fa-circle fa-2x"></i><span class="pb-2">Adopt A Coastline</span></li>
    </ul> -->
  </div>
</div>

  <!-- <div class="row no-gutters">
    <div class="col-6">
      <p class="py-5">Your contributions keep our technicians on the ground, our boats on the water, and our helicopters in the air removing toxic pollutants from local wildlife habitat.</p>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12"><h2 class="pr-5">Become A donor</h2></div>
    <div class="col pt-5" id="donation-list">
      <div class="row no-gutters align-items-center">
        <div class="col-2 icon">
          <img src="{{ wolf }}"/>
        </div>
        <div class="col title">
          <h4>Coastal Ambassador <span class="pl-2 amount">$500</span></h4>
        </div>
      </div>
    </div>
    <div class="col pt-5 pb-4 px-4" id="donation-description">
      <div class="row no-gutters align-items-center">
        <p>Join the CleanUp team with this contribution that helps restore wildlife habitat in Clayoquot Sound.  You’ll be recognized as a Coastal Ambassador on our website and receive our seasonal newsletter</p>
      </div>
      <section class="row no-gutters align-items-center pt-3">
        <div class="col input-wrap">
          <input id="slide-toggle" type="checkbox" checked>
          <label for="slide-toggle" id="slide-text" data-type="Annual">Annual</label>
        </div>
        <div class="col text-center">
          <button class="btn btn-primary btn-lg" id="donate-button">Donate</button>
        </div>
      </section>
    </div>
  </div> -->
