<div class="row align-items-center" style="height: 100vh;">
  <div class="col">
  </div>
</div>
{%- include donor_form.html -%}

<script type="text/javascript">
function donationType(type) {
  var slideText = $('#slide-text');
  // If the checkbox is checked, display the output text
  if (type == true){
    slideText.text("One Time");
    slideText.data( "type", "OneTime" );
  } else {
    slideText.text("Annual");
    slideText.data( "type", "Annual" );
  }
}

$( "#slide-text" ).click(function() {
  donationType($("#slide-toggle").is(':checked'));
});

</script>
