<div class="row no-gutters map">
  <div class="col-6 p-5 align-self-end">
  {%- include donor_form.html -%}
  </div>
</div>

<script type="text/javascript">
function donationType(type) {
  var slideText = $('#slide-text');
  // If the checkbox is checked, display the output text
  if (type == true){
    slideText.text("One Time");
    slideText.data( "type", "OneTime" );
  } else {
    slideText.text("Annual");
    slideText.data( "type", "Annual" );
  }
}

$( "#slide-text" ).click(function() {
  donationType($("#slide-toggle").is(':checked'));
});

</script>
