<script src="https://player.vimeo.com/api/player.js"></script>
{% capture p1 %}{{ 'uploads/cc1.JPG' | absolute_url }}{% endcapture %}
{% capture p2 %}{{ 'uploads/cc4.jpg' | absolute_url }}{% endcapture %}
{% capture p3 %}{{ 'uploads/cc3.JPG' | absolute_url }}{% endcapture %}
<div class="row align-items-center" style="height: 100vh;">
  <div class="col" id="match-1">
    <div class="row">
      <div class="col-4 pl-5">
        <h4 class="text-right title pb-3 pr-4 mb-4">Become A Coastal Amabssador</h4>
      </div>
    </div>
    <div class="row">
      <div class="col pl-5">
        <div class="row no-gutters" id="description">
          <div class="col-4">
            <img src="{{ wt }}" class="img-fluid pl-4 pt-3"/>
          </div>
          <div class="col">
            <p class="pl-4 pt-4 mb-4 pb-4">
              <!-- Clayoquot Sound needs your help! Ocean plastics and other forms of pollution are washing ashore with every tide. -->
              <!-- This garbage threatens all kinds of wildlife, Indigenous culture, and the communities that call Clayoquot Sound home. -->
              Clayoquot Sound needs your help! Travel in our helicopter to remote islands and perform light- duty rehabilitation efforts to restore wildlife habitat.
              <!-- Help us preserve these important areas for breeding, nesting, and foraging for so many kinds of animals.  -->
              <br><br>Book your Coastal Ambassador experience to learn about the many species that inhabit Clayoquot Sound from your guide as you enjoy a spectacular aerial safari on the way home.
              <!-- <br><br>Book your Coastal Ambassador experience and help save wildlife during your stay in Clayoquot Sound! -->
            </p>
            <div id="explore" class="pr-1 text-right"><a href="" class="btn btn-primary btn-lg" id="explore-button">Take the next step</a></div>
          </div>
        </div>
      </div>
      <div class="col-8 pr-0">
        <div id="video">
            <div class="embed-responsive embed-responsive-16by9" id="v1">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/276691373?loop=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
{%- include donor_form_1.html -%}
{% endcomment %}
