<div class="row align-items-center" style="height: 100vh;">
  <div class="col" id="match-2">
    <div class="poi py-3 px-4" id="one" data-toggle="modal" data-target="#modal-1">
      1
    </div>
    <div class="poi py-3 px-4" id="two" data-toggle="modal" data-target="#modal-2">
      2
    </div>
    <div class="poi py-3 px-4" id="three" data-toggle="modal" data-target="#modal-3">
      3
    </div>
    <div class="poi py-3 px-4" id="four" data-toggle="modal" data-target="#modal-4">
      4
    </div>
    <div class="poi py-3 px-4" id="five" data-toggle="modal" data-target="#modal-5">
      5
    </div>
    <div class="poi py-3 px-4" id="six" data-toggle="modal" data-target="#modal-6">
      6
    </div>
    <div class="poi py-3 px-4" id="seven" data-toggle="modal" data-target="#modal-7">
      7
    </div>
  </div>
</div>
