<div class="col-lg-12 col-xl-6 stripe--payment-form align-self-center">
  <div class="row no-gutters">
    <div class="col-xl-7 align-self-end py-3">
      <p class="text-uppercase pb-1">Thank you for Joining:</p>
      <h5 class="text-uppercase text--alt-color-darkest">The <span id="plan-name">Coastal Ambassador</span> Program</h5>
    </div>
    <div class="col-xl-4 align-self-end">
      <div class="py-4 text-center card-detail">
        <h4 class="text-uppercase text--alt-color-dark">Card Detail</h4>
      </div>
    </div>
  </div>
  {% capture whale %}{{ 'uploads/whale.png' | absolute_url }}{% endcapture %}
  <div class="row no-gutters image-row" style='background-image: url("{{ whale }}"); background-size: cover;'>
    <div class="col-xl-4 offset-7 form-col d-flex">
      {%- include stripe_form.html -%}
      <div id="status-container" style="display: none;">
        <div id="spinner" class="animated" style="display: none;"></div>
        <div id="transaction-fail" style="display: none;"><i class="fas fa-exclamation"></i></div>
        <div class="p-4" id="status-msg"></div>
        <div id="reset-form" class="text-center pt-1" style="display: none;"><i class="fas fa-redo-alt fa-2x"></i></div>
      </div>
      <div id="success-container" style="display: none;">
        <div class="spinner-success"><i class="fas fa-check"></i></div>
        <div class="p-4 text-center" id="success-msg" style="display: none;"></div>
      </div>
    </div>
    <div class="col-xl-1">
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-xl-7">
      <div class="row py-3 text-uppercase">
        <!-- <div class="col-xl-4 b-right">
          <h6>Tier:</h6>
          <p id="tier">N/A</p>
        </div> -->
        <div class="col-xl-4 b-right text-uppercase">
          <h6>Amount:</h6>
          <p id="amount"></p>
        </div>
        <div class="col-xl-4 b-right text-uppercase">
          <h6>Recurring:</h6>
          <p id="subscription"></p>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="py-4 text-center payment-submit">
        <button class="text-uppercase" id="payment-submit" type="submit" form='#payment-form'><h3>Donate</h3></button>
      </div>
      <div id="card-errors" role="alert" class="py-4">
      </div>
    </div>
    <div class="col-xl-1">
    </div>
  </div>
</div>
