---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

#left-arrow,
#right-arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2.25em;
}

#right-arrow {
  right: 0;
}
