---
---

// @import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$errors: #fce883;
$moneyGreen: #c9d6c9;
$body: #7b8d9d;
$brand-background: #f2f7f9;
$button: #b2aa48;
$donation-title: #123449;
$muted: #BBC8D0;

body {
  font-family: 'Montserrat', sans-serif;
  color: $body;
}

#back-button {
  position: absolute;
  z-index: 1040;
  color: $muted;
  letter-spacing: 3px;
  display: none;
}

.donor {
  display: none;
  z-index: 1039;
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-weight: 300;
  p {
    letter-spacing: 2px;
  }
  h2 {
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .triangle-right {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 0 12.5px 21.7px;
      border-color: transparent transparent transparent $button;
      margin-top: 6px;
      -webkit-transition: 300ms ease-in-out;
      -moz-transition: 300ms ease-in-out;
      -o-transition: 300ms ease-in-out;
      transition: 300ms ease-in-out;
      &.down {
        transform: rotate(90deg);
        -webkit-transition: 300ms ease-in-out;
        -moz-transition: 300ms ease-in-out;
        -o-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out;
      }
  }
  .icon {
     position: absolute;
     color: white;
     max-width: 30px;
     position: absolute;
     color: white;
     max-width: 25px;
     margin-left: 3px;
  }
  .donation-title {
    letter-spacing: 2px;
    font-size: 1.05em;
  }
  .active {
    color: $button;
  }
  .donation-list {
    border-top: 1px solid $muted;
  }
  .donation-description {
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid $muted;
  }
  .hide {
    opacity: 0;
  }
  &#df-1,
  &#df-2 {
    div:nth-of-type(2) {
      overflow: hidden;
      // height: 0;
    }
  }
  // SWITCH
  &#df-1 {
  section {
      label {
        display: inline-block;
        position: relative;
        height: 44px;
        width: 90px;
        background-color: #fff;
        width: 100%;
        color: $body !important;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 0;
      }
      label {
        cursor: pointer;
        // font-size: 0;
        color: transparent;
        border-radius: 22px;
      }
      label:after {
        content: '';
        // color: rgba(255, 255, 255, 0) !important;
        display: block;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 2px;
        right: 170px;
        border-radius: 50%;
        background-color: #e8e8e8;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.15);
      }
      input:checked + label {
        background: #caeae8;
      }
      input:checked + label:after {
        right: 2px;
        background-color: #fff;
        box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
      }
      input {
        position: absolute !important;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        bottom: 0;
      }
      label {
        transition: background-color 500ms ease;
        &:after {
          transition: right 500ms ease,
            background-color 500ms ease,
            box-shadow 500ms ease;
        }
      }
    }
  }
  &#df-2 {
  section {
      label {
        display: inline-block;
        position: relative;
        height: 44px;
        width: 90px;
        background-color: #fff;
        width: 100%;
        color: $body !important;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 0;
      }
      label {
        cursor: pointer;
        // font-size: 0;
        color: transparent;
        border-radius: 22px;
      }
      label:after {
        content: '';
        // color: rgba(255, 255, 255, 0) !important;
        display: block;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 2px;
        right: 170px;
        border-radius: 50%;
        background-color: #e8e8e8;
        box-shadow: 2px 0px 0px rgba(0,0,0,0.15);
      }
      input:checked + label {
        background: #caeae8;
      }
      input:checked + label:after {
        right: 2px;
        background-color: #fff;
        box-shadow: -2px 0px 0px rgba(0,0,0,0.1);
      }
      input {
        position: absolute !important;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        bottom: 0;
      }
      label {
        transition: background-color 500ms ease;
        &:after {
          transition: right 500ms ease,
            background-color 500ms ease,
            box-shadow 500ms ease;
        }
      }
    }
  }
}

.text--alt-color-dark {
  color: $body;
}
.text--alt-color-darkest {
  color: #545a61;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.portal-page {
  background-color: $brand-background;
  color: $body;
  position: absolute;
  .info,
  .map,
  .payment,
  .intro {
    height: 100vh;
  }
  &.intro {
    z-index: 4;
  }
  &.one {
    z-index: 3;
  }
  &.two {
    z-index: 2;
  }
  &.three {
    z-index: 1;
  }
  h1 {
    font-weight: 400;
  }
}

.error {
  border-bottom: 1px solid $errors !important;
}

.highlightError {
  color: $errors !important;
}

 .stripe--payment-form {
   h1 {
     letter-spacing: 11px;
   }
   h3 {
     letter-spacing: 9px;
     font-weight: 400;
     margin-bottom: 0;
   }
   h4 {
     letter-spacing: 4px;
     margin-bottom: 0;
     font-weight: 400;
   }
   h5 {
     letter-spacing: 4px;
     font-size: 1.1em;
   }
   h6 {
     font-size: 0.65rem;
     letter-spacing: 4px;
     font-weight: 400;
   }
   small {
     font-size: 60%;
   }
   button {
     margin-top: 1em;
   }
   p {
     margin: 0 0 3px;
     letter-spacing: 4px;
     font-size: 0.85rem;
   }
   label {
     margin-bottom: 0;
   }
   .b-right {
     border-right: 1px solid white;
     p {
       color: $body;
       font-size: 0.975em;
       font-weight: 600;
     }
   }
   // use this property to animate
   // transform: translate(-50vw);
   form {
     width: 100%;
     padding-left: 2.35em;
     padding-right: 2.35em;
     label {
       color: #bec8cf;
     }
     input {
       text-transform: uppercase;
       font-size: 0.75rem;
       &::placeholder {
         color: #bec8cf;
       }
     }
     .form-control {
       padding: 5px 0 5px;
       border: none;
       border-bottom: 1px solid $body;
       border-radius: 0px;
       color: $body;
     }
     #card-element {
       padding: 8px 0 9px;
       border-bottom: 1px solid $body;
     }
   }
   .card-detail {
     background-color: rgba(255, 255, 255, 0.75);
   }
   .payment-submit {
     background-color: $body;
     #payment-submit{
       margin-top: 0;
       color: white;
       background: transparent;
       border: none;
     }
   }
   .form-row {
     margin-bottom: 1em;
   }
   .form-col {
     background-color: white;
     height: 31em;
     .row {
       margin-bottom: 2em;
     }
   }
  .StripeElement {
    width: 100%;
    // -webkit-transition: box-shadow 150ms ease;
    // transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    // box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  #card-errors {
    color: $errors;
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
  }
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#left-arrow,
#right-arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2.25em;
}

#right-arrow {
  right: 0;
}

#success-container {
  margin: 0 auto;
  color: $body;
  .spinner-success {
    width: 40px;
    height: 40px;
    margin: 5em auto 1em;
    background-color: #C8E087;
    border-radius: 100%;
    text-align: center;
    i {
      color: white;
      font-size: 1.5em;
      margin-top: 0.55rem;
    }
  }
  #success-msg {
    font-size: 0.55em;
    letter-spacing: 1px;
  }
}

#status-container {
  margin: 0 auto;
  color: $body;
  #transaction-fail {
    background-color: #B4654A;
  }
  #spinner {
    background-color: #000;
  }
  #spinner,
  #transaction-fail {
    width: 40px;
    height: 40px;
    margin: 5em auto 1em;
    border-radius: 100%;
    text-align: center;
    &.animated {
      -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }
    i {
      color: white;
      font-size: 1.5em;
      margin-top: 0.55rem;
    }
  }
  #status-msg {
    font-size: 0.55em;
    letter-spacing: 1px;
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.one,
.two {
  #description {
    border-top: 1px solid $muted;
    img {
      border-left: 1px solid $muted;
    }
  }
  .title {
    text-transform: uppercase;
    color: $donation-title;
    border-bottom: 1px solid $muted;
    border-right: 1px solid $muted;
    letter-spacing: 2px;
    font-size: 1.3rem;
  }
  p {
    letter-spacing: 2px;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 50%;
  opacity: 0.75;
}

#arrows {
  height: 450px;
}

.btn-primary {
  background-color: $button;
  border: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 0.85rem 2.25rem;
}

.two {
  .poi {
    position: absolute;
    background-color: $donation-title;
    border-radius: 100% 100% 100% 0;
    color: white;
    &#one {
      top: 70px;
      left: 475px;
    }
    &#two {
      top: 175px;
      left: 750px;
    }
    &#three {
      top: 100px;
      left: 1325px;
    }
    &#four {
      top: 350px;
      left: 825px;
    }
    &#five {
      top: 500px;
      left: 1125px;
    }
    &#six {
      top: 600px;
      left: 1300px;
    }
    &#seven {
      top: 750px;
      left: 1450px;
    }
  }
}

// MODAL STYLES

.modal-content {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
  .modal-header,
  .modal-body,
  .modal-footer {
    border: none;
    background-color: white;
    border-radius: 0;
  }
  .close {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px 17px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    color: black;
  }
  .modal-body {
    p {
      font-size: 0.875rem;
      line-height: 1.65;
    }
  }
  .modal-header {
    h5 {
      letter-spacing: 1px;
      font-size: 1rem;
      font-weight: bolder;
      color: $donation-title;
      margin-left: -55px;
      border-bottom: 1px solid $muted;
      border-right: 1px solid $muted;
    }
  }
}

.modal-lg {
    max-width: 1200px !important;
}

.modal.fade .modal-dialog
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-21 18:19:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 2.5s ease-in-out infinite both;
	        animation: heartbeat 2.5s ease-in-out infinite both;
}
