---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .stripe--payment-form {
   button {
     padding-top: 1em;
   }
  .StripeElement {
    width: 100%;
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#left-arrow,
#right-arrow {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2.25em;
}

#right-arrow {
  right: 0;
}
