<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- comment -%}
      {%- include header.html -%}
    {%- endcomment -%}

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var subscription;
    </script>

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {%- comment -%}
      {%- include footer.html -%}
    {%- endcomment -%}

    <script type="text/javascript">
    {% include site.js %}
    </script>
  </body>

</html>
