---
layout: default
---

{% capture mapfull %}{{ 'uploads/map_empty.png' | absolute_url }}{% endcapture %}
{% capture heli %}{{ 'uploads/heli.png' | absolute_url }}{% endcapture %}

<button type="button" class="btn btn-secondary" id="fullscreen-button">Full Screen</button>
<section class="section portal-page intro" id="intro">{% include portal_page_intro.html %}</section>
<section class="section portal-page one" id="one">{% include portal_page_one.html %}</section>
<section class="section portal-page two" id="two" style='background-image: url("{{ mapfull }}");background-size: cover;background-position: bottom;'>{% include portal_page_two.html %}</section>
<section class="section portal-page three" id="three">{% include portal_page_three.html %}</section>

<script type="text/javascript">

function hideIntro() {
	$(".portal-page.intro").fadeToggle("fast");
}
function hideInfo() {
	$(".portal-page.one").fadeToggle("fast");
}
function hideMap() {
	$(".portal-page.two").fadeToggle("fast");
}
function hideDonation() {
	$(".portal-page.three").fadeToggle("fast");
}

$(document).ready(function() {
	document.getElementById('fullscreen-button').addEventListener('click', () => {
		if (screenfull.enabled) {
			screenfull.request();
		} else {
			// Ignore or do something else
		}
		$('#fullscreen-button').hide();
	});
});

$('#explore-button').click(function(e) {
	e.preventDefault();
	hideInfo();
});
$('#donate-button').click(function(e) {
	e.preventDefault();
	var str = $('#slide-text').text();
	$("#subscription").html(str);
	hideMap();
});
$('.portal-page.intro').click(function(e) {
	hideIntro();
});

//reset screen on timeout
function idleReset() {
    var t;
    window.onload = resetTimer;
    window.onmousemove = resetTimer;
    window.onmousedown = resetTimer;  // catches touchscreen presses as well
    window.ontouchstart = resetTimer; // catches touchscreen swipes as well
    window.onclick = resetTimer;      // catches touchpad clicks as well
    window.onkeypress = resetTimer;
    window.addEventListener('scroll', resetTimer, true); // improved; see comments

    function resetScreen() {
      console.log("reset");
    }

    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(resetScreen, 600);  // time is in milliseconds
    }
}
idleReset();
</script>
